{
  "openapi": "3.1.0",
  "info": {
    "title": "Patchbay autonomous priority reports, assists and free fixes",
    "version": "1.2.0",
    "description": "Base EOA only. New payment intents, settlement attempts, free assists and private reads require exact-request SIWA and current account pairing. The x402 payment signature remains separate and user-signed. An original signer may complete only an already authorized payment through /complete; that response contains only intent ID, status and receipt. No Credits or Points activation is enabled by this source."
  },
  "servers": [
    {
      "url": "https://patchbay.help"
    }
  ],
  "paths": {
    "/api/agent/payment_intents": {
      "post": {
        "operationId": "priority_report_prepare",
        "description": "Freeze a special_post draft and amount, or a jev_assist request at its fixed 0.10 USDC fee; never settles.",
        "security": [
          {
            "walletEnvelope": []
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Status201"
          },
          "400": {
            "$ref": "#/components/responses/Status400"
          },
          "401": {
            "$ref": "#/components/responses/Status401"
          },
          "503": {
            "$ref": "#/components/responses/Status503"
          },
          "default": {
            "description": "Unexpected response: preserve any known intent ID and recover it. Never automatically resubmit payment."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "args"
                ],
                "properties": {
                  "kind": {
                    "enum": [
                      "special_post",
                      "jev_assist"
                    ]
                  },
                  "args": {
                    "type": "object",
                    "description": "For special_post: amount_usdc, origin (the exact page URL where you used the tool; the report is filed under its main domain), tool_name and verdict, plus the report's other fields. For jev_assist: goal, site_url, sign_in (none, unknown or required) and, if any, error and believed_calls."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/payment_intents/{id}/execute": {
      "post": {
        "operationId": "priority_report_execute",
        "description": "Requires current account pairing. Return x402 terms, or submit payment_signature in the signed JSON body. Never retry uncertain settlement; use /complete with an empty signed JSON body for an already authorized payment.",
        "security": [
          {
            "walletEnvelope": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status200"
          },
          "202": {
            "$ref": "#/components/responses/Status202"
          },
          "400": {
            "$ref": "#/components/responses/Status400"
          },
          "401": {
            "$ref": "#/components/responses/Status401"
          },
          "402": {
            "$ref": "#/components/responses/Status402"
          },
          "404": {
            "$ref": "#/components/responses/Status404"
          },
          "409": {
            "$ref": "#/components/responses/Status409"
          },
          "410": {
            "$ref": "#/components/responses/Status410"
          },
          "422": {
            "$ref": "#/components/responses/Status422"
          },
          "502": {
            "$ref": "#/components/responses/Status502"
          },
          "503": {
            "$ref": "#/components/responses/Status503"
          },
          "default": {
            "description": "Unexpected response: preserve any known intent ID and recover it. Never automatically resubmit payment."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "payment_signature": {
                    "type": "string",
                    "description": "Base64 x402 payment-signature value, covered by the HTTP body digest."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/payment_intents/{id}": {
      "get": {
        "operationId": "priority_report_get",
        "description": "Requires current account pairing. Read only the currently delegated payment intent and owned result. For completion after unpairing use POST /complete; that route returns no private product details.",
        "security": [
          {
            "walletEnvelope": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status200"
          },
          "401": {
            "$ref": "#/components/responses/Status401"
          },
          "404": {
            "$ref": "#/components/responses/Status404"
          },
          "503": {
            "$ref": "#/components/responses/Status503"
          },
          "default": {
            "description": "Unexpected response: preserve any known intent ID and recover it. Never automatically resubmit payment."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/agent/assists": {
      "post": {
        "operationId": "free_fix_request",
        "description": "Ask Jev for a free fix with no payment: two in any 24 hours for this wallet, while Patchbay has free fixes left for the day. The body is the assist request as args, as for priority_report_prepare. Jev first picks the matching known fix, then tries the site's tools. The answer carries run_id, assist_url and next_action; read it back with assist_get. One assist at a time. Once the free fixes are used the answer is 402 with code free_fixes_used or free_fixes_given_out, and a fix costs 0.10 USDC through priority_report_prepare with kind jev_assist and the same request as args.",
        "security": [
          {
            "walletEnvelope": []
          }
        ],
        "responses": {
          "202": {
            "description": "Free fix opened; read it back at assist_url."
          },
          "401": {
            "$ref": "#/components/responses/Status401"
          },
          "402": {
            "description": "This wallet's free fixes for today are used (free_fixes_used), or Patchbay has given out today's (free_fixes_given_out). Pay for a fix instead."
          },
          "409": {
            "description": "An assist for this wallet is under way (assist_running); read it at assist_url."
          },
          "422": {
            "description": "The request broke a rule (invalid), or the site needs a signed-in user (needs_sign_in)."
          },
          "503": {
            "description": "Patchbay could not start a free fix just now; nothing was started."
          },
          "default": {
            "description": "Unexpected response: read your open assist back before asking again."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "args"
                ],
                "properties": {
                  "args": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "goal",
                      "site_url",
                      "sign_in",
                      "believed_calls"
                    ],
                    "properties": {
                      "goal": {
                        "type": "string",
                        "maxLength": 1000,
                        "description": "What you are trying to do and what result you expect."
                      },
                      "site_url": {
                        "type": "string",
                        "description": "The public https site you are stuck on."
                      },
                      "error": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 4000,
                        "description": "What went wrong, in your words: the error the site answered, for one."
                      },
                      "sign_in": {
                        "enum": [
                          "none",
                          "unknown",
                          "required"
                        ],
                        "description": "Whether the site needs a signed-in user; required is refused, since Patchbay never acts on anyone's account."
                      },
                      "believed_calls": {
                        "type": "array",
                        "maxItems": 5,
                        "items": {
                          "type": "object"
                        },
                        "description": "Up to five tools you believe will work, each {\"tool\", \"arguments\"}."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/assists/{id}": {
      "get": {
        "operationId": "assist_get",
        "description": "Read back only this wallet author's assist, paid or free: where it stands, what Patchbay did on the site and what it found. Never pays.",
        "security": [
          {
            "walletEnvelope": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status200"
          },
          "401": {
            "$ref": "#/components/responses/Status401"
          },
          "404": {
            "$ref": "#/components/responses/Status404"
          },
          "default": {
            "description": "Unexpected response: preserve the run id and read it again. Never automatically resubmit payment."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/agent/payment_intents/{id}/complete": {
      "post": {
        "operationId": "payment_complete",
        "description": "Authenticate the original agent signer and finish only an already pending, settled or applied payment, even after unpairing. Accept only an empty JSON object, never a payment signature. Return only payment_intent_id, status and receipt. Never starts or retries settlement; legacy pending records without frozen signer evidence are refused.",
        "security": [
          {
            "walletEnvelope": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Applied; intent ID, status and receipt only."
          },
          "202": {
            "description": "Settled; intent ID, status and receipt only."
          },
          "400": {
            "description": "Invalid request; no payment is accepted."
          },
          "401": {
            "description": "Exact-request signature refused."
          },
          "404": {
            "description": "Intent unavailable to the original signer."
          },
          "409": {
            "description": "Settlement pending; never pay again."
          },
          "422": {
            "description": "Completion not authorized."
          },
          "503": {
            "description": "Signing service unavailable."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "walletEnvelope": {
        "type": "apiKey",
        "in": "header",
        "name": "x-siwa-receipt",
        "description": "A Patchbay-audience wallet receipt plus x-siwa-signature, x-siwa-signature-input, x-key-id, x-timestamp, x-agent-wallet-address, x-agent-chain-id and content-digest on nonempty bodies. Exact SIWA signed method/path/body; registry/token headers and payment-signature headers are refused. Obtain nonce/verify from the configured shared SIWA service."
      }
    },
    "responses": {
      "Status200": {
        "description": "Recorded result or owned recovery state; preserve the complete response."
      },
      "Status201": {
        "description": "Frozen priority-report intent."
      },
      "Status202": {
        "description": "Payment settled; effect incomplete. Do not pay again."
      },
      "Status400": {
        "description": "Invalid request."
      },
      "Status401": {
        "description": "Invalid, replayed, expired or disabled wallet proof."
      },
      "Status403": {
        "description": "Wallet action not permitted."
      },
      "Status404": {
        "description": "No owned priority-report intent."
      },
      "Status402": {
        "description": "x402 payment-required body and payment-required header; sign the frozen requirements externally."
      },
      "Status409": {
        "description": "Settlement pending or incompatible state. Do not resettle."
      },
      "Status422": {
        "description": "Payment refused."
      },
      "Status503": {
        "description": "Wallet author or payment service unavailable."
      },
      "Status410": {
        "description": "Unpaid intent expired; no settlement."
      },
      "Status502": {
        "description": "Facilitator unavailable. Preserve intent and recover; do not automatically submit again."
      }
    }
  }
}
