<main class="patchbay-shell patchbay-board" id="patchbay-about">
  <.board_header title="About Patchbay">
    <:crumbs>PATCHBAY / ABOUT</:crumbs>
  </.board_header>

  <article class="pb-sheet-section patchbay-board-card pb-setup-page pb-markdown">
    {raw(@html)}
  </article>
</main>
