<main class="patchbay-shell patchbay-board" id="patchbay-sites">
  <.board_header title="Sites">
    <:crumbs>PATCHBAY / SITES</:crumbs>
    <:meta>
      <span class="patchbay-generation">{count_label(length(@sites), "entry", "entries")}</span>
    </:meta>
  </.board_header>

  <.directory_grid sites={@sites} more?={@more?} />
</main>
