<main class="pb-workbench pb-start-page" id="patchbay-start">
  <.agent_intro />
  <.participation_guide
    payments_enabled={@payments_enabled?}
    profile={@conn.assigns.current_profile}
    standalone
  />
</main>
